<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lawrence Song">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Lawrence Song professional website">
        <title>Lawrence Song</title>
        <link href="./static/imgs/favicon.png" rel="icon">
      
        <!-- General Layout  -->
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="../static/js/script.js" defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>
    <body onload="initPage()">
        <header>
            <h1 id="webname">Lawrence Song</h1>
            <nav>
                <a href="../index.html">Home</a>
                <a href="./cv.html">CV</a>
                <a href="./contact.html">Contact me</a>
                <a href="./fun.html">For fun</a>
            </nav>
        </header>
        <div class="mainLayout">
            <div id="item1">
                <h2>Things I love to do for fun</h2>
                <!-- <button id="showList" onclick="showList()">Show</button> -->
                <ul id="fun_list">
                    <li>Programing</li>
                    <li>Parkour</li>
                    <li>Ping-pong</li>
                 </ul>
            </div>
            <div id="item2">
                <img src="../static/imgs/favicon.png" alt="fun photo of fine" class="funIMG">
            </div>
            <div id="item3">
                <iframe id="duquesne_incline" src="https://www.youtube.com/embed/bSLvrz5GraI" title="Only in Pittsburgh: Duquesne Incline" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div id="item4">
                <div class="container">
                    <h2>Need Some Advice?</h2>
                    <p id="adviceText">Click the button to get a random advice</p>
                    <button onclick="getAdvice()">Get</button>
                </div>
            </div>
        </div>
        <footer>
            &copy; Design and coded by<b>Lawrence Song</b><p id="copyYear"></p><br>
            <div id="weather_forcast">
                Weather Forecast: <!--<img id="weather_icon" src="../static/imgs/weather/中雪.png">--> <p id="weather"></p>
            </div>
        </footer>
    </body>
</html>
