<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lawrence Song">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Lawrence Song professional website">
        <title>Lawrence Song</title>
        <link href="./static/imgs/favicon.png" rel="icon">
      
        <!-- General Layout  -->
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 id="webname">Lawrence Song</h1>
            <nav>
                <a href="../index.html" class="nav_a">Home</a>
                <a href="./cv.html" class="nav_a">CV</a>
                <a href="./contact.html" class="nav_a">Contact me</a>
                <a href="./fun.html" class="nav_a">For fun</a>
            </nav>
        </header>
        <div class="main">
            <h2>Things I love to do for fun</h2>
            <ul>
                <li>Programing</li>
                <li>Parkour</li>
                <li>Ping-pong</li>
            </ul>
        </div>
        <footer>
            &copy Design and coded by Lawrence Song
        </footer>
    </body>
</html>
