<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/template.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>Header</header>
        <nav>
            <a href="../index.html">index.html</a>
            <a href="./contact.html">contact.html</a>
            <a href="./cv.html">cv.html</a>
            <a href="./fun.html">fun.html</a>
        </nav>
        <figure>Figure</figure>
        <article>Article</article>
        <section>Section</section>
        <footer>footer</footer>
    </div>
</body>
</html>