body{
    margin: 0 0 0 0;
}
.container{
    display:grid;    
    grid-template-areas:
        'header header'
        'nav nav'
        'figure article'
        'section section'
        'footer footer';

    min-height: 100vh;
    width:100vw;

    text-align: center;
}
header{
    grid-area: header;

    background-color: lightcoral;
}
nav{
    grid-area:nav;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    background-color: lightblue;
}
footer{
    grid-area: footer;

    background-color:lightgreen;
}
figure{
    margin: 0 0 0 0;
    grid-area: figure;
    background-color: lightyellow;
}
article{
    grid-area: article;
    background-color: aquamarine;

    text-align: left;
}
section{
    grid-area: section;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav div a{
    border: solid 2px black;
    border-radius: 10px;
    text-decoration: none;

    height:80%;
}

nav .fas.fa-bars{
    display: none;
}

@media screen and (max-width: 768px) {
    .container{
        display:grid;    
        grid-template-areas:
            'header header'
            'nav nav'
            'figure figure'
            'article article'
            'section section'
            'footer footer';
        min-height: 100vh;
        width:100vw;
    
        text-align: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #links.hidden{
        display: none;
    }
    #links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        animation:pull_out 2s;
    }
    nav .fas.fa-bars{
        display: inline-block;
    }
}

#my_photo{
    width:50%;
    object-fit: cover;
}
.full_content{
    display: none;
}

@keyframes pull_out{
    from{
        max-height:0%;
    }
    to{
        max-height:100%;
    }
}